@tailwind base;
@tailwind components;
@tailwind utilities;



.animated-button {
    position: relative;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    overflow: hidden;

  }

  .animated-button::before {
    content: "";
    
    position: absolute;
    inset: 0;
    border-radius: 50px;
    padding: 2px;
    background: linear-gradient(90deg, red, orange, yellow, green, cyan, blue, violet);
    -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    animation: border-move 2s linear infinite;
  }

  @keyframes border-move {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }